<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Medication</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-4">
    <h1 class="mb-4">Add Medicine Details</h1>
    <form action="/addMedicine" method="post" th:object="${Medication}" class="needs-validation" novalidate>

        <div class="form-group">
            <label for="Id">Medicine Id:</label>
            <input type="number" class="form-control" id="Id" name="Id" required placeholder="Enter Medicine Id" />
            <div class="invalid-feedback">
                Please enter a valid Medicine Id.
            </div>
        </div>

        <div class="form-group">
            <label for="MedicineName">Medicine Name:</label>
            <input type="text" class="form-control" id="MedicineName" name="MedicineName" required placeholder="Enter Medicine Name" />
            <div class="invalid-feedback">
                Please enter a valid Medicine Name.
            </div>
        </div>

        <div class="form-group">
            <label for="dosage">Dosage:</label>
            <input type="text" class="form-control" id="dosage" name="dosage" required placeholder="Enter Employee Dosage" />
            <div class="invalid-feedback">
                Please enter a valid Dosage.
            </div>
        </div>

        <div class="form-group">
            <label for="Quantity">Quantity:</label>
            <input type="text" class="form-control" id="Quantity" name="Quantity" required placeholder="Enter Quantity" />
            <div class="invalid-feedback">
                Please enter a valid Quantity.
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Save</button>
    </form><br><br>

    <a th:href="@{/viewMedicine}" class="btn btn-secondary">Back to Medicine List</a>
</div>
<script>
    (function() {
        'use strict';
        window.addEventListener('load', function() {
            var forms = document.getElementsByClassName('needs-validation');
            Array.prototype.filter.call(forms, function(form) {
                form.addEventListener('submit', function(event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>