<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>View Appointments</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2>All Appointments</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Appointment Id</th>
            <th>Doctor Id</th>
            <th>Doctor Name</th>
            <th>Appointment Date</th>
            <th>Medical Reason</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="appointment : ${appointment}">
            <td th:text="${appointment.appointmentId}"></td>
            <td th:text="${appointment.doctor.doctorId}"></td>
            <td th:text="${appointment.doctor_name}"></td>
            <td th:text="${appointment.appointmentDate}"></td>
            <td th:text="${appointment.MedicalReason}"></td>
        </tr>
        </tbody>
    </table>
</div><br>
<a href="/home" class="btn btn-primary mt-3">Back to Home</a><br><br>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>