<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="table-responsive tableList">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Doctor Id</th>
            <th>Doctor Name</th>
            <th>specialization</th>
            <th>Consultation Fee</th>
            <th>Available Slots</th>
            <th>Available Time</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="doctors : ${doctor}">
            <td th:text="${doctors.doctorId}"></td>
            <td th:text="${doctors.doctorName}"></td>
            <td th:text="${doctors.specialization}"></td>
            <td th:text="${doctors.consultationFee}"></td>
            <td th:text="${doctors.availableSlot}"></td>
            <td th:text="${doctors.availableTime}"></td>
        </tr>
        </tbody>
    </table>
</div><br><br>
<a href="/home" class="btn btn-primary mt-3">Back to Home</a><br><br>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>